{% extends 'bootstrap/base.html' %}

{% block title %}
{% if query %}"{{ query }}" - Где это поётся?{% else %}Как там в песне поётся?{% endif %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/css/styles.css">

<style>
    .ibox-content {
        background-color: #FFFFFF;
        color: inherit;
        padding: 15px 20px 20px 20px;
        border-color: #E7EAEC;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0px;
    }

    .search-form {
        margin-top: 10px;
    }

    .search-result h3 {
        margin-bottom: 0;
        color: #1E0FBE;
    }

    .search-result .search-link {
        color: #006621;
    }

    .search-result p {
        font-size: 12px;
        margin-top: 5px;
    }

    .hr-line-dashed {
        border-top: 1px dashed #E7EAEC;
        color: #ffffff;
        background-color: #ffffff;
        height: 1px;
        margin: 20px 0;
    }

    h2 {
        font-size: 24px;
        font-weight: 100;
    }
</style>
{% endblock %}


{% block content %}

<div class="container bootstrap snippet">
    <div class="row">
        <div class='col-md-12'>
            <h1><a href="/" style="text-decoration: none; color: #000000;">Как там в песне поётся?</a></h1>
        </div>
        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <form class='search-box' action="{{ url_for('search') }}" method="get">
                        <input class='form-control'
                               placeholder='Расцветали яблони груши' type='text' value='{{ query }}' name="query">
                        <button class='btn btn-link search-btn'>
                            <i class='glyphicon glyphicon-search'></i>
                        </button>
                    </form>

                    <small>{{ results_n }} results ({{ time_elapsed }} seconds)</small>

                    {% for result in results %}
                    <div class="hr-line-dashed"></div>
                    <div class="search-result">
                        <h3><a href="{{ result.url }}">{{ result.title }} — {{ result.artist }}</a></h3>
                        <a href="{{ result.url }}" class="search-link">{{ result.url }}</a>
                        <p>

                        </p>
                    </div>
                    {% endfor %}
                    <div class="hr-line-dashed"></div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}