{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }} - Где это поётся?{% else %}Как там в песне поётся?{% endif %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}


{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <h1><a href="/" style="text-decoration: none; color: #000000;">Как там в песне поётся?</a></h1>
            <p class='lead'>Начни писать. {% if songs_n %}Найди среди {{ songs_n }} песен.{% else %}Чуть позже.{% endif %}</p>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'>
            <div class='search-box'>
                <form class='search-form' action="{{ url_for('search') }}" method="get">
                    <input name='query' class='form-control'
                           placeholder='Расцветали яблони груши' type='text'>
                    <button class='btn btn-link search-btn'>
                        <i class='glyphicon glyphicon-search'></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}